<section class="" style="padding-top: 150px;">
        
        <div class="container">

        <h3>{{exca.title}}</h3><br>
        <h6>{{exca.author}}     <br>{{exca.date}}  </h6> <img src="/images/{{exca._id}}.jpg" class="img-fluid" alt="" style="height: 12em;width: 25em;"><br>
        <h6>{{exca.description}}</h6>

        <div class="row p-3">
           <div>
          <a href="/edit-excarticle/{{exca._id}}" class="btn btn-primary">EDIT</a>
          <a href="/delete-excarticle/{{exca._id}}" class="btn btn-danger" 
          onclick="return confirm('ARE YOU WANT TO DELETE {{exca.title}}?')">DELETE</a>
           </div>
        </div>

        </div>


    </section>